@import url('https://fonts.googleapis.com/css?family=Overpass:100,200,400,700,900');
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

canvas.mapboxgl-canvas {
  position: static !important;
}

body {
  font-family: 'Overpass', Helvetica, sans-serif;
  background: #0098e4;
  background: radial-gradient(circle at 10% 30%, hsl(200, 100%, 35%) 0%, #052b6c 94%);
  color: #ffffff;
  text-align: center;
  position: relative;
}

.App { 
  display: grid;
  grid-template-rows: 80px 4fr auto;
}

header {
  background: rgba(255, 255, 255, 1);
}

.title {
  color: #052b6c;
  font-size: 4rem;
  line-height: 1;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: .25rem;
  letter-spacing: -2px;
  transition: font-size 500ms ease-out;
}

h1 span {
  color: #0098e4;
  letter-spacing: -6px;
}
/* Map Styles */
.map {
  margin: 0;
  background: linear-gradient(to top, #0098e4, #052b6c 420%);
}
/* /Map Styles */

nav { 
  width: 100%;
  background: #0098e4;
  padding: .8rem 0;
}

.origin-input, .destination-input, .submit {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 900;
  margin: 0 auto 0.5rem;
  padding: .75rem;
  border-radius: 6px;
  border: none;
  box-shadow: none;
  display: block;
  max-width: 65vmin;
  width: 90%;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
       box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
}

.submit {
  background: rgba(0, 0, 0, 0.0125);
  border: 2px solid #052b6c;
  color: #052b6c;
  font-size: 1.25rem;
  margin-bottom: 0;
  padding: 0.5rem .75rem;
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: none;
  width: auto;
}

.submit:hover {
  color: rgba(255, 255, 255, 1);
  background: #052b6c;
}

.origin-input::placeholder, .destination-input::placeholder {
  color: lightgrey;
}

.infobox {
  padding: 1rem 4rem;
  margin: 0 auto;
}

.origin, .destination {
  margin: 0 auto .75rem;
}

.origin h3 {
  font-size: 1rem;
}

.card {
  width: 100%;
  padding: 1rem 0;
}

.card:nth-child(odd) {
  background: rgba(0, 0, 0, .2);
}

@media screen and (min-width: 375px) and  (min-height: 668px) {

  .container-element {
    height: 40vh;
  }

.origin-input, .destination-input {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) and  (min-height: 1024px) {
  .App {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  header    {grid-column: span 4;}
  main      {grid-column: span 4;}
  nav       {grid-column: 1/3;}
  .stations {grid-column: span 4;}

  .title {
    font-size: 6rem;
  }
}

@media screen and (min-width: 900px) {
  .container-element {
    /* max-width: 1100px; */
  }
}

@media screen and (min-width: 1200px) {

  .App {
    grid-template-columns: 50px repeat(10, 1fr) 50px;  
    grid-template-rows: repeat(12, auto);  
  }

  header {
    grid-column: span 12;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
    width: 100%;
  }
  
  nav {
    grid-column: span 12;
    width: 100%;
  }

  .origin-input, .destination-input, .submit{
    display: inline-block;
    max-width: 325px;
  }
  
  .origin-input, .destination-input {
    margin: 0 1rem 0 0;
  }

  .map {
    grid-column: span 12;
    grid-row: span 2;
  }

  .infobox {
    grid-column: span 12;
  }
  
  .stations {
    display: grid;
    grid-column: span 12;
    grid-template-columns: 1fr 1fr;
  }
  
  .origin-stations {

  }
  .destination-stations {

  }

  .title {
    font-size: 5.5rem;
  }
  .container-element {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 100%;
  }
  .map-element {
    border-radius: 8px;
  }
}

