@import url('https://fonts.googleapis.com/css?family=Overpass:100,200,400,700,900');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  min-height: 100vh;
}

body {
  font-family: 'Overpass', Helvetica, sans-serif;
  background: #0098e4;
  background: radial-gradient(circle at 10% 30%, hsl(200, 100%, 35%) 0%, #052b6c 94%);
  color: #ffffff;
  text-align: center;
}

.title {
  font-size: 4rem;
  line-height: 1;
  margin: 0.75rem auto;
  padding: 0;
  letter-spacing: -2px;
}

h1 span {
  color: #0098e4;
  letter-spacing: -6px;
}

/* Map Styles */
.loading-element, .map-element {
  height: 100%;
}
.container-element {
  height: 265px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  transition: height 1250ms ease-out;
}
/* /Map Styles */

.station-grid {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
}

.card {
  width: 100%;
  padding: 1rem 0;
}

.card:nth-child(odd) {
  background: rgba(0, 0, 0, .2);
}

form {
  margin: 1rem auto;
}

input[name="origin"],
input[name="destination"],
input[type="submit"] {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 900;
  margin: 0 auto 0.75rem;
  padding: .75rem;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  display: block;
  max-width: 70vmin;
  width: 90%;
  transition: all 250ms ease-out;
}

input[type="submit"] {
  background: #0098e4;
  color: #052b6c;
  font-weight: 900;
  padding: 1rem;
  cursor: pointer;
  transition: all 250ms ease;
  box-shadow: none;
}

input[name="origin"]:hover,
input[name="destination"]:hover,
input[type="submit"]:hover {
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  background: hsl(200, 100%, 43%);
}

input[name="origin"]::placeholder,
input[name="destination"]::placeholder {
  color: lightgrey;
}

@media screen and (min-width: 414px) {
  nav {
    margin: 2rem auto;
  }

  input[name="origin"],
  input[name="destination"],
  input[type="submit"] {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .container-element {
    height: 500px;
    max-width: 1100px;
  }
}

@media screen and (min-width: 1200px) {
  .App {
    display: grid;
    grid-template-columns: repeat(12, 1fr);     
  }
  header {
    grid-column: span 12;
  }

  main {
    grid-column: span 12;
  }

  nav {
    grid-column: 5/9;
    width: 100%;
    /* border: 1px solid seagreen;  */
  }

  .origin {
    grid-column: span 6;
  }

  .destination {
    grid-column: span 6;
  }

  .title {
    font-size: 5.5rem;
  }
  .container-element {
    height: 500px;
    max-width: 90%;
  }
}

